/*header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}
nav ul li{
    display: inline-block;

}*/
   /*<header>
            <img  src="imges/pngtree-burning-flame-vector-image_2286156.jpg" class="mm"alt="logo" width="80px" >logo
            <nav>
                <ul>
                <li><a href="#a">HOME</a></li> 
                <li><a href="#ab">ABOUT</a></li> 
                <li><a href="#PROCTUCTS">PROCTUCTS</a></li> 
                <li><a href="#service">SERVICE</a></li> 
               </ul>
            </nav>*/
            </header>